<!--=============== Footer Section Start ===============-->
<section class="footer_texture m-t-65">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 footer_section_align">
                <span class="text-white font18">  </span><span class="text-primary font24"> Tarabalam, email to info@tarabal.com For any inquiries or questions<span
                    class="text-white font18">,</span> </span><span
                    class="text-white font18"> </span><span class="text-primary font24">  </span> <span
                    class="text-white font18"> </span>
            </div>


        </div>
    </div>
</section>
