<div *ngIf="profile.id">
    <h2><b>Daily Mantra/Video</b></h2>
    <div class="row form-group" *ngFor="let item of specials">
        <div class="col-md-8">
            <h4><b>{{item.itemLabel}}</b></h4>
            <p>{{item.itemText}}</p>
        </div>
        <div class="col-md-4">
            <iframe style="max-width: 100%;" width="560" height="315" [src]="item.itemVideoLink" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row" *ngIf="!profile.id">
    <div class="col-md-6 col-xs-12 ">
        <div class="row">
            <div class="col-xs-12">
                <h5 class="text-center bg-info text-white right_sidebar_dimension font14">LOGIN TO PERFORM ONLINE PUJA </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 font16 games_align">
                <p  class="common_margin  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInRight;">
                    <a href="javacript:void(0)">
                        <i class="fa fa-search"></i>&nbsp;&nbsp;Live Streaming
                    </a>
                </p>
                <p  class="common_margin  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInRight;">
                    <a href="javacript:void(0)">
                        <i class="fa fa-eye"></i>&nbsp;&nbsp;Prasada will be mailed
                    </a>
                </p>
                <p  class="common_margin  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInRight;">
                    <a href="javacript:void(0)">
                        <i class="fa fa-calendar "></i>&nbsp;&nbsp;Personalized by Reciting your Gotra
                    </a>
                </p>
                <hr class="hr_margin">
            </div>

        </div>
    </div>
    <div class="col-md-6 col-xs-12 ">
        <div class="row">
            <div class="col-xs-12">
                <h5 class="text-center bg-info text-white right_sidebar_dimension font14">ASSOCIATED TEMPLES</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 font16 games_align">
                <p  class="common_margin  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInRight;">
                    <a href="javacript:void(0)">
                        <i class="fa fa-thumbtack"></i>&nbsp;&nbsp;Hindu Temple Of Massachusetts, USA
                    </a>
                </p>
                <p  class="common_margin  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInRight;">
                    <a href="javacript:void(0)">
                        <i class="fa fa-thumbtack"></i>&nbsp;&nbsp;Shani Temple, Vijaywada, India
                    </a>
                </p>
                <p  class="common_margin  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInRight;">
                    <a href="javacript:void(0)">
                        <i class="fa fa-thumbtack"></i>&nbsp;&nbsp;Shri Rama Temple, Hyderabad, India
                    </a>
                </p>
                <hr class="hr_margin">
            </div>

        </div>
    </div>
</div>
