<!--=============== Body Section Start ===============-->

<div class="row">
   
  
    <div class="col-md-8 col-xs-12 m-t-40">
        <div class="row wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="col-xs-12">
            <div class="tab-content tab_singlepost">
              <div class="tab-pane active" id="tab1">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-12" style="color:white"> 
                       
                          
                        </div>
                        <div class="selector" style="background :#f0c600">
                          
                          <div class="row form-group">
                            <div class="col-md-4 col-sm-4" style="color:white">
                              <b>Select your Birth Star :</b>
                              <ng-select [items]="businesses" [clearable]="false" [(ngModel)]="star" (change)="getEvents()">
                              </ng-select>
                              <a class="popup-toggle-btn" href="javacript:void(0)" (click)="openBirthStarPopup()"><small>Dont Know your Birth Star?</small></a>
                            </div>
                            <div class="col-md-4 col-sm-4">
                            </div>
                            <div>
                             
                              
                            </div>

                            <div class="col-md-4 col-sm-4" style="color:white">
                              <b>Select your Calendar :</b>
                              <ng-select [items]="cities"  [clearable]="false" [(ngModel)]="city" (change)="getEvents()">
                              </ng-select>
                            </div>
                            
                          </div>
                          <div>
                            

                          </div>
                        </div>
                        <div id="calendar" class="form-group">
                            <ng-fullcalendar
                              #calendar
                              [options]="calendarOptions"
                              [(eventsModel)]="events"
                              (viewRender) = "viewRender($event.detail)"
                              (clickButton) = "getEvents($event.detail)"
                              (eventClick) = "eventClick($event.detail)"
                           
                          ></ng-fullcalendar>
                        </div>
                     
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab2">
                  <div class="row">
                      <div class="col-xs-6 text-primary elements_desc">Wednesday, July 6th, 2016</div>
                      <div class="col-xs-6 text-right elements_desc">
                          <a href="javacript:void(0)"><i class="fa fa-facebook-square header_icons fa-lg"></i></a>
                          <a href="javacript:void(0)"><i class="fa fa-twitter-square header_icons fa-lg"></i></a>
                          <a href="javacript:void(0)"><i class="fa fa-google-plus-square header_icons fa-lg"
                                         aria-hidden="true"></i></a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                          <p class="elements_desc">
                              Vero voluptas voluptatum. Aperiam asperiores autem deserunt doloremque incidunt
                              laudantium minima modi, placeat quam quisquam saepe similique tempore
                              voluptates?
                              Accusamus laboriosam nam officiis quam sunt?
                          </p>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="tab3">
                  <div class="row">
                      <div class="col-xs-6 text-primary elements_desc">Thursday, July 7th, 2016</div>
                      <div class="col-xs-6 text-right elements_desc"><a href="javacript:void(0)"><i
                              class="fa fa-facebook-square header_icons fa-lg"></i></a>
                          <a href="javacript:void(0)"><i class="fa fa-twitter-square header_icons fa-lg"></i></a>
                          <a href="javacript:void(0)"><i class="fa fa-google-plus-square header_icons fa-lg"
                                         aria-hidden="true"></i></a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                          <p class="elements_desc">
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                              eget
                              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                              montes,
                              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                              pretium
                              quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
                              aliquet
                              nec, vulputate
                          </p>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="tab4">
                  <div class="row">
                      <div class="col-xs-6 text-primary elements_desc">Wednesday, July 6th, 2016</div>
                      <div class="col-xs-6 text-right elements_desc"><a href="javacript:void(0)"><i
                              class="fa fa-facebook-square header_icons fa-lg"></i></a>
                          <a href="javacript:void(0)"><i class="fa fa-twitter-square header_icons fa-lg"></i></a>
                          <a href="javacript:void(0)"><i class="fa fa-google-plus-square header_icons fa-lg"
                                         aria-hidden="true"></i></a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                          <p class="elements_desc">
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                              eget
                              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                              montes,
                              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                              pretium
                              quis, sem. Nulla consequat massa
                          </p>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="tab5">
                  <div class="row">
                      <div class="col-xs-6 text-primary elements_desc">Wednesday, July 6th, 2016</div>
                      <div class="col-xs-6 text-right elements_desc"><a href="javacript:void(0)"><i
                              class="fa fa-facebook-square header_icons fa-lg"></i></a>
                          <a href="javacript:void(0)"><i class="fa fa-twitter-square header_icons fa-lg"></i></a>
                          <a href="javacript:void(0)"><i class="fa fa-google-plus-square header_icons fa-lg"
                                         aria-hidden="true"></i></a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                          <p class="elements_desc">
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                              eget
                              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                              montes,
                              nascetur ridiculus mus. Donec quam felis.
                          </p>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="tab6">
                  <div class="row">
                      <div class="col-xs-6 text-primary elements_desc">Wednesday, July 6th, 2016</div>
                      <div class="col-xs-6 text-right elements_desc"><a href="javacript:void(0)"><i
                              class="fa fa-facebook-square header_icons fa-lg"></i></a>
                          <a href="javacript:void(0)"><i class="fa fa-twitter-square header_icons fa-lg"></i></a>
                          <a href="javacript:void(0)"><i class="fa fa-google-plus-square header_icons fa-lg"
                                         aria-hidden="true"></i></a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                          <p class="elements_desc">
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                              eget
                              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                              montes,
                              nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
                              pretium
                              quis, sem. Nulla consequat massa quis enim. Donec pede justo.
                          </p>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="tab7">
                  <div class="row">
                      <div class="col-xs-6 text-primary elements_desc">Wednesday, July 6th, 2016</div>
                      <div class="col-xs-6 text-right elements_desc"><a href="javacript:void(0)"><i
                              class="fa fa-facebook-square header_icons fa-lg"></i></a>
                          <a href="javacript:void(0)"><i class="fa fa-twitter-square header_icons fa-lg"></i></a>
                          <a href="javacript:void(0)"><i class="fa fa-google-plus-square header_icons fa-lg"
                                         aria-hidden="true"></i></a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                          <p class="elements_desc">
                              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula
                              eget
                              dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                              montes,
                              nascetur ridiculus mus. Donec quam felis.
                          </p>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-4 col-xs-12 m-t-40">
      <div class="row">
        <div class="col-md-12">
          <div class="widgets">
            <div class="box">
               <div class="box-title">
                 Get Your Personalized Muhurtha
                          </div>
                      <div class="box-content" style="color:#dd5a43!important">
                        <p>By undertaking ventures at auspicious times one can ward off the evils and ensure success.</p>
 <p>Suitable Months, Days, Thithi, Star, Lagnam, and other aspects are to be considered for fixing muhurthams. </p>
                         <p> Email us at info@tarabal.com for  fixing your Muhurtha </p>
              </div>
               <div class="box-title">
                         Today's Panchang Indicator
                          </div>
                      <div class="box-content">
                   
   

                        
                            <h3><img src="assets/images/avatars/avatar11.png" alt="" /> Partly Unfavourable</h3>
                            <h3><img src="assets/images/avatars/avatar35.png" alt="" /> Unfavourable</h3>

                          
                     

                        <h3><img src="assets/images/avatars/avatar32.png" alt="" />  Partly Favourable</h3>
                            <h3><img src="assets/images/avatars/avatar33.png" alt="" /> Very Favourable</h3>
                           
                          </div>
            </div>
            <!--video autoplay controls height="240" loop muted src="https://tarabalam.s3.amazonaws.com/st4.mov" width="320"> </video> -->

           <div class="box" *ngIf="special">
             
        
             
              <div class="box-title">
               Daily Mantra
              </div>
              <div class="box-content">
                <h3 style="margin-top: 0"> "{{special.itemText}}"</h3>
                <iframe width="100%" height="315" style="border:none" *ngIf="special.itemVideoLink"
                  [src]="special.itemVideoLink">
                  </iframe>
                <br />
              </div>
            </div>
          </div>

          <div>
            <div class="row">
              <div class="col-xs-12">
                <h5 class="text-center bg-info text-white  right_sidebar_dimension font14" style="background-color: #f0c600">HOLIDAYS</h5>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 font16 games_align">
                <div *ngFor="let holiday of holidays; index as i">
                  <p class="common_margin  wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInRight;">
                    <a [routerLink]="[ '/holidays', i+1 ]">
                      <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; {{holiday.carePlanName}}
                    </a>
                  </p>
                  <hr class="hr_margin">
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="widgets">
            <div class="box">
              <div class="box-title">
                Register Now For Maha Shiva Ratri Puja
              </div>
              <img style="max-width: 100%;" src="https://s3.amazonaws.com/tarabalam/Shiva.jpg"/>
            </div>
          </div> -->
        </div>
      </div>
    </div>
</div>
<!--=============== Body Section End ===============-->
  <script type='text/javascript'>
window.__lo_site_id = 193295;

	(function() {
		var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
		wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
	  })();
	</script>
