<div class="container">
    <div class="row">
        <div class="col-md-12 m-t-26 hr_bottom_align">
            <h1 class="text-primary">Rasis :</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <a href="gemstones_single.html" class="gemstone_hover">
            <div class="gemsingle">
   
                         <img src="https://tarabalam.s3.us-east-1.amazonaws.com/aries-1.png" alt="image found" class="img-responsive hello">
                
                <h2 class="text_modify">Mesha/Aries</h2>
                <div class="gem_desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    
                    </p>
                </div>
            </div>
                </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="gemstones_single.html" class="gemstone_hover">
            <div class="gemsingle">
                <img src="assets/images/taurus.png" alt="image found" class="img-responsive hello">
                <h2 class="text_modify">Taurus/Vrishaba</h2>
                <div class="gem_desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    </p>
                </div>
            </div>
                </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="gemstones_single.html" class="gemstone_hover">
            <div class="gemsingle">
                <img src="assets/images/gemini.png" alt="image found" class="img-responsive hello">
                <h2 class="text_modify">Gemini/Mithuna</h2>
                <div class="gem_desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    </p>
                </div>
            </div>
                </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <a href="gemstones_single.html" class="gemstone_hover">
            <div class="gemsingle">
                <img src="assets/images/cancer.png" alt="image found" class="img-responsive hello">
                <h2 class="text_modify">Cancer/Karkata</h2>
                <div class="gem_desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    </p>
                </div>
            </div>
                </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="gemstones_single.html" class="gemstone_hover">
            <div class="gemsingle">
                <img src="assets/images/leo.png" alt="image found" class="img-responsive hello">
                <h2 class="text_modify">Leo/Simha</h2>
                <div class="gem_desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    </p>
                </div>
            </div>
                </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="gemstones_single.html" class="gemstone_hover">
            <div class="gemsingle">

                <img src="assets/images/virgo.png" alt="image found" class="img-responsive hello">
                <h2 class="text_modify">VIRGO/Kanya</h2>
                <div class="gem_desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    </p>
                </div>

            </div>
                </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <a href="gemstones_single.html" class="gemstone_hover">
            <div class="gemsingle">
                <img src="assets/images/libra.png" alt="image found" class="img-responsive hello">
                <h2 class="text_modify">Libra/tula</h2>
                <div class="gem_desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    </p>
                </div>
            </div>
                </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="gemstones_single.html" class="gemstone_hover">
            <div class="gemsingle">
                <img src="assets/images/scorpis.png" alt="image found" class="img-responsive hello">
                <h2 class="text_modify">Scorpio/VrishickaE</h2>
                <div class="gem_desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    </p>
                </div>
            </div>
                </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="gemstones_single.html" class="gemstone_hover">
            <div class="gemsingle">
                <img src="assets/images/cats_eye.png" alt="image found" class="img-responsive hello">
                <h2 class="text_modify">CAT'S EYE</h2>
                <div class="gem_desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    </p>
                </div>
            </div>
                </a>
        </div>
    
    </div>
<div class="row">
        <div class="col-sm-4 text-center">
            <a href="gemstones_single.html" class="gemstone_hover">
            <div class="gemsingle">
                <img src="images/yellow_sap.png" alt="image found" class="img-responsive hello">
                <h2 class="text_modify">YELLOW SAPPHIRE</h2>
                <div class="gem_desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    </p>
                </div>
            </div>
                </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="gemstones_single.html" class="gemstone_hover">
            <div class="gemsingle">
                <img src="images/blue_sap.png" alt="image found" class="img-responsive hello">
                <h2 class="text_modify">BLUE SAPPHIRE</h2>
                <div class="gem_desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    </p>
                </div>
            </div>
                </a>
        </div>
        <div class="col-sm-4 text-center">
            <a href="gemstones_single.html" class="gemstone_hover">
            <div class="gemsingle">
                <img src="images/cats_eye.png" alt="image found" class="img-responsive hello">
                <h2 class="text_modify">CAT'S EYE</h2>
                <div class="gem_desc">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad debitis ducimus ex hic quae quam sed suscipit voluptatibus. Iusto provident rem tenetur unde?
                    </p>
                </div>
            </div>
                </a>
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
                <div class="bg-white button_margin pic_margin">
                    <h1 class="text-primary font35 home_padding">Free
                        Daily Horoscopes</h1>
                    <div class="home_head center-block"></div>
                    <p class="elements_desc">What kind of day will it be for you today? Use your free horoscope to plan your day, every day -
                        instantly!</p>
                    <div class="row home_align">
                        <div class="col-md-2 col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInDown;">
                            <div class="sign_circle bg-aries">
                                <img src="images/aries-sign.png" alt="image-missing" class="rotate">
                            </div>
                            <a href="signs_single_post.html" class="main">
                                <div class="sign_card text-center signs_bg">
                                    <span class="text-aries signs_clr font16">Aries</span><br>
                                    <span class="signtext_clr font12">Mar 21 - Apr 19</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInDown;">
                            <div class="sign_circle bg-taurus">
                                <img src="images/taurus.png" alt="image-missing" class="rotate">
                            </div>
                            <a href="signs_single_post.html" class="main">
                                <div class="sign_card text-center signs_bg">
                                    <span class="text-taurus signs_clr font16">Taurus</span><br>
                                    <span class="signtext_clr font12">Apr 20 - May 20</span>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-md-2 col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInDown;">
                            <div class="sign_circle bg-gemini">
                                <img src="images/gemini.png" alt="image-missing" class="rotate over">
                            </div>
                            <a href="signs_single_post.html" class="main">
                                <div class="sign_card text-center signs_bg">
                                    <span class="text-gemini signs_clr font16">Gemini</span><br>
                                    <span class="signtext_clr font12">May 21 - Jun 20</span>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix visible-sm-block"></div>
                        <div class="col-md-2 col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInDown;">
                            <div class="sign_circle bg-cancer">
                                <img src="images/cancer.png" alt="image-missing" class="rotate">
                            </div>
                            <a href="signs_single_post.html" class="main">
                                <div class="sign_card text-center signs_bg">
                                    <span class="text-cancer signs_clr font16">Cancer</span><br>
                                    <span class="signtext_clr font12">Jun 21 - Jul 22</span>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-md-2 col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInDown;">
                            <div class="sign_circle bg-leo">
                                <img src="images/leo.png" alt="image-missing" class="rotate">
                            </div>
                            <a href="signs_single_post.html" class="main">
                                <div class="sign_card text-center signs_bg">
                                    <span class="text-leo signs_clr font16">Leo</span><br>
                                    <span class="signtext_clr font12">Jul 23 - Aug 22</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s; animation-name: fadeInDown;">
                            <div class="sign_circle bg-virgo">
                                <img src="images/virgo.png" alt="image-missing" class="rotate">
                            </div>
                            <a href="signs_single_post.html" class="main">
                                <div class="sign_card text-center signs_bg">
                                    <span class="text-virgo signs_clr font16">Virgo</span><br>
                                    <span class="signtext_clr font12">Aug 23 - Sep 22</span>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-md-2 col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInDown;">
                            <div class="sign_circle bg-libra">
                                <img src="images/libra.png" alt="image-missing" class="rotate">
                            </div>
                            <a href="signs_single_post.html" class="main">
                                <div class="sign_card text-center signs_bg">
                                    <span class="text-libra signs_clr font16">Libra</span><br>
                                    <span class="signtext_clr font12">Sep 23 - Oct 22</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInDown;">
                            <div class="sign_circle bg-scorpio">
                                <img src="images/scorpio.png" alt="image-missing" class="rotate">
                            </div>
                            <a href="signs_single_post.html" class="main">
                                <div class="sign_card text-center signs_bg">
                                    <span class="text-scorpio signs_clr font16">Scorpio</span><br>
                                    <span class="signtext_clr font12">Oct 23 - Nov 21</span>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-md-2 col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInDown;">
                            <div class="sign_circle bg-sagittarius">
                                <img src="images/sagittarius.png" alt="image-missing" class="rotate">
                            </div>
                            <a href="signs_single_post.html" class="main">
                                <div class="sign_card text-center signs_bg">
                                    <span class="text-sagittarius signs_clr font16">Sagittarius</span><br>
                                    <span class="signtext_clr font12">Nov 22 - Dec 21</span>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix visible-sm-block"></div>
                        <div class="col-md-2 col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInDown;">
                            <div class="sign_circle bg-capricorn">
                                <img src="images/capricorn.png" alt="image-missing" class="rotate">
                            </div>
                            <a href="signs_single_post.html" class="main">
                                <div class="sign_card text-center signs_bg">
                                    <span class="text-capricorn signs_clr font16">Capricorn</span><br>
                                    <span class="signtext_clr font12">Dec 22 - Jan 19</span>
                                </div>
                            </a>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-md-2 col-sm-4 col-xs-6 wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInDown;">
                            <div class="sign_circle bg-aquarius">
                                <img src="images/aquarius.png" alt="image-missing" class="rotate">
                            </div>
                            <a href="signs_single_post.html" class="main">
                                <div class="sign_card text-center signs_bg">
                                    <span class="text-aquarius signs_clr font16">Aquarius</span><br>
                                    <span class="signtext_clr font12">Jan 20 - Feb 18</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 wow fadeInDown pic_margin" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInDown;">
                            <div class="sign_circle bg-pisces">
                                <img src="images/pisces.png" alt="image-missing" class="rotate">
                            </div>
                            <a href="signs_single_post.html" class="main">
                                <div class="sign_card text-center signs_bg">
                                    <span class="text-pisces signs_clr font16">Pisces</span><br>
                                    <span class="signtext_clr font12">Feb 19 - Mar 20</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

<div *ngFor="let soul of souls">
  <h2>{{soul.itemName}}</h2>
  <h5><i class="fa fa-folder-o"></i>&nbsp;&nbsp;{{soul.Category}}</h5>
  <div class="row">
    <div class="form-group col-md-4 col-sm-6 col-xs-12" *ngFor="let video of soul.videos">
      <h4>{{video.title}}</h4>
      <iframe style="max-width: 100%;" width="560" height="315" [src]="video.url" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <hr />
</div>

<style>
  h2 {
    margin-bottom: 0;
  }
  h5 {
    margin-top: 5px;
    padding-left: 15px;
    color: #a5a5a5;
  }
  iframe {
    max-width: 100%;
  }
</style>
