<ng-select [clearable]="false" [(ngModel)]="model" name="Monthabc" (change)="modelChange($event)">
    <ng-option value="Asia/Kolkata,+05.30">(GMT+05.30) India</ng-option>
    <ng-option value="America/Chicago,-06.00">(GMT-06.00) Central Time (US &amp; Canada)</ng-option>
    <ng-option value="America/New_York,-05.00">(GMT-05.00) Eastern Time (US &amp; Canada)</ng-option>
    <ng-option value="America/Los_Angeles,-08.00">(GMT-08.00) Pacific Time (US &amp; Canada)</ng-option>
    <ng-option value="America/Anchorage,-09.00">(GMT-09.00) Alaska</ng-option>
    <ng-option value="America/Dawson_Creek,-06.00">(GMT-07.00) Arizona</ng-option>
    <ng-option value="Pacific/Midway,-11.00" selected>(GMT-11.00) Midway Island, Samoa</ng-option>
    <ng-option value="America/Adak,-10.00">(GMT-10.00) Hawaii-Aleutian</ng-option>
    <ng-option value="Etc/GMT+10,-10.00">(GMT-10.00) Hawaii</ng-option>
    <ng-option value="Pacific/Marquesas,-09.30">(GMT-09.30) Marquesas Islands</ng-option>
    <ng-option value="Pacific/Gambier,-09.00">(GMT-09.00) Gambier Islands</ng-option>
    <ng-option value="America/Ensenada,-08.00">(GMT-08.00) Tijuana, Baja California</ng-option>
    <ng-option value="Etc/GMT+8,-08.00,-08.00">(GMT-08.00) Pitcairn Islands</ng-option>
    <ng-option value="America/Denver,-07.00">(GMT-07.00) Mountain Time (US &amp; Canada)</ng-option>
    <ng-option value="America/Chihuahua,-06.00">(GMT-07.00) Chihuahua, La Paz, Mazatlan</ng-option>
    <ng-option value="America/Belize,-06.00">(GMT-06.00) Saskatchewan, Central America</ng-option>
    <ng-option value="America/Cancun,-06.00">(GMT-06.00) Guadalajara, Mexico City, Monterrey</ng-option>
    <ng-option value="Chile/EasterIsland,-06.00">(GMT-06.00) Easter Island</ng-option>
    <ng-option value="America/Havana,-05.00">(GMT-05.00) Cuba</ng-option>
    <ng-option value="America/Bogota,-05.00">(GMT-05.00) Bogota, Lima, Quito, Rio Branco</ng-option>
    <ng-option value="America/Caracas,-04.30">(GMT-04.30) Caracas</ng-option>
    <ng-option value="America/Santiago,-04.00">(GMT-04.00) Santiago</ng-option>
    <ng-option value="America/La_Paz,-04.00">(GMT-04.00) La Paz</ng-option>
    <ng-option value="Atlantic/Stanley,-04.00">(GMT-04.00) Faukland Islands</ng-option>
    <ng-option value="America/Campo_Grande,-04.00">(GMT-04.00) Brazil</ng-option>
    <ng-option value="America/Goose_Bay,-04.00">(GMT-04.00) Atlantic Time (Goose Bay)</ng-option>
    <ng-option value="America/Glace_Bay,-04.00">(GMT-04.00) Atlantic Time (Canada)</ng-option>
    <ng-option value="America/St_Johns,-03.00">(GMT-03.30) Newfoundland</ng-option>
    <ng-option value="America/Araguaina,-03.00">(GMT-03.00) UTC-3</ng-option>
    <ng-option value="America/Montevideo,-03.00">(GMT-03.00) Montevideo</ng-option>
    <ng-option value="America/Miquelon,-03.00">(GMT-03.00) Miquelon, St. Pierre</ng-option>
    <ng-option value="America/Godthab,-03.00">(GMT-03.00) Greenland</ng-option>
    <ng-option value="America/Argentina/Buenos_Aires,-03.00">(GMT-03.00) Buenos Aires</ng-option>
    <ng-option value="America/Sao_Paulo,-03.00">(GMT-03.00) Brasilia</ng-option>
    <ng-option value="America/Noronha,-02.00">(GMT-02.00) Mid-Atlantic</ng-option>
    <ng-option value="Atlantic/Cape_Verde,-01.00">(GMT-01.00) Cape Verde Is.</ng-option>
    <ng-option value="Atlantic/Azores,-01.00">(GMT-01.00) Azores</ng-option>
    <ng-option value="Europe/Belfast,0">(GMT) Greenwich Mean Time . Belfast</ng-option>
    <ng-option value="Europe/Dublin,0">(GMT) Greenwich Mean Time . Dublin</ng-option>
    <ng-option value="Europe/Lisbon,0">(GMT) Greenwich Mean Time . Lisbon</ng-option>
    <ng-option value="Europe/London,0">(GMT) Greenwich Mean Time . London</ng-option>
    <ng-option value="Africa/Abidjan,0">(GMT) Monrovia, Reykjavik</ng-option>
    <ng-option value="Europe/Amsterdam,+01.00">(GMT+01.00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</ng-option>
    <ng-option value="Europe/Belgrade,+01.00">(GMT+01.00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</ng-option>
    <ng-option value="Europe/Brussels,+01.00">(GMT+01.00) Brussels, Copenhagen, Madrid, Paris</ng-option>
    <ng-option value="Africa/Algiers,+01.00">(GMT+01.00) West Central Africa</ng-option>
    <ng-option value="Africa/Windhoek,+01.00">(GMT+01.00) Windhoek</ng-option>
    <ng-option value="Asia/Beirut,+02.00">(GMT+02.00) Beirut</ng-option>
    <ng-option value="Africa/Cairo,+02.00">(GMT+02.00) Cairo</ng-option>
    <ng-option value="Asia/Gaza,+02.00">(GMT+02.00) Gaza</ng-option>
    <ng-option value="Africa/Blantyre,+02.00">(GMT+02.00) Harare, Pretoria</ng-option>
    <ng-option value="Asia/Jerusalem,+02.00">(GMT+02.00) Jerusalem</ng-option>
    <ng-option value="Europe/Minsk,+02.00">(GMT+02.00) Minsk</ng-option>
    <ng-option value="Asia/Damascus,+02.00">(GMT+02.00) Syria</ng-option>
    <ng-option value="Europe/Moscow,+03.00">(GMT+03.00) Moscow, St. Petersburg, Volgograd</ng-option>
    <ng-option value="Africa/Addis_Ababa,+03.00">(GMT+03.00) Nairobi</ng-option>
    <ng-option value="Asia/Tehran,+03.30">(GMT+03.30) Tehran</ng-option>
    <ng-option value="Asia/Dubai,+04.00">(GMT+04.00) Abu Dhabi, Muscat</ng-option>
    <ng-option value="Asia/Yerevan,+04.00">(GMT+04.00) Yerevan</ng-option>
    <ng-option value="Asia/Kabul,+04.30">(GMT+04.30) Kabul</ng-option>
    <ng-option value="Asia/Yekaterinburg,+05.00">(GMT+05.00) Ekaterinburg</ng-option>
    <ng-option value="Asia/Tashkent,+05.00">(GMT+05.00) Tashkent</ng-option>
    <ng-option value="Asia/Katmandu,+05.45">(GMT+05.45) Kathmandu</ng-option>
    <ng-option value="Asia/Dhaka,+06.00">(GMT+06.00) Astana, Dhaka</ng-option>
    <ng-option value="Asia/Novosibirsk,+06.00">(GMT+06.00) Novosibirsk</ng-option>
    <ng-option value="Asia/Rangoon,+06.30">(GMT+06.30) Yangon (Rangoon)</ng-option>
    <ng-option value="Asia/Bangkok,+07.00">(GMT+07.00) Bangkok, Hanoi, Jakarta</ng-option>
    <ng-option value="Asia/Krasnoyarsk,+07.00">(GMT+07.00) Krasnoyarsk</ng-option>
    <ng-option value="Asia/Hong_Kong,+08.00">(GMT+08.00) Beijing, Chongqing, Hong Kong, Urumqi</ng-option>
    <ng-option value="Asia/Irkutsk,+08.00">(GMT+08.00) Irkutsk, Ulaan Bataar</ng-option>
    <ng-option value="Australia/Perth,+08.00">(GMT+08.00) Perth</ng-option>
    <ng-option value="Australia/Eucla,+08.45">(GMT+08.45) Eucla</ng-option>
    <ng-option value="Asia/Tokyo,+09.00">(GMT+09.00) Osaka, Sapporo, Tokyo</ng-option>
    <ng-option value="Asia/Seoul,+09.00">(GMT+09.00) Seoul</ng-option>
    <ng-option value="Asia/Yakutsk,+09.00">(GMT+09.00) Yakutsk</ng-option>
    <ng-option value="Australia/Adelaide,+09.30">(GMT+09.30) Adelaide</ng-option>
    <ng-option value="Australia/Darwin,+09.30">(GMT+09.30) Darwin</ng-option>
    <ng-option value="Australia/Brisbane,+10.00">(GMT+10.00) Brisbane</ng-option>
    <ng-option value="Australia/Hobart,+10.00">(GMT+10.00) Hobart</ng-option>
    <ng-option value="Asia/Vladivostok,+10.00">(GMT+10.00) Vladivostok</ng-option>
    <ng-option value="Australia/Lord_Howe,+10.30">(GMT+10.30) Lord Howe Island</ng-option>
    <ng-option value="Etc/GMT-11,+11.00">(GMT+11.00) Solomon Is., New Caledonia</ng-option>
    <ng-option value="Asia/Magadan,+11.00">(GMT+11.00) Magadan</ng-option>
    <ng-option value="Pacific/Norfolk,+11.30">(GMT+11.30) Norfolk Island</ng-option>
    <ng-option value="Asia/Anadyr,+12.00">(GMT+12.00) Anadyr, Kamchatka</ng-option>
    <ng-option value="Pacific/Auckland,+12.00">(GMT+12.00) Auckland, Wellington</ng-option>
    <ng-option value="Etc/GMT-12,+12.00">(GMT+12.00) Fiji, Kamchatka, Marshall Is.</ng-option>
    <ng-option value="Pacific/Chatham,+12.45">(GMT+12.45) Chatham Islands</ng-option>
    <ng-option value="Pacific/Tongatapu,+13.00">(GMT+13.00) Nuku'alofa</ng-option>
    <ng-option value="Pacific/Kiritimati,+14.00">(GMT+14.00) Kiritimati</ng-option>
</ng-select>
